body ,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-rows: 20% 70% 10%;
    grid-template-areas: 
    "header header header"
    " derecha main izquierda"
    "footer footer footer "
    ;
}

.header{
    grid-area: header;
    background-color: rgb(4, 255, 29);
}
.main{
    grid-area: main;
    background-color: rebeccapurple;
}
.infor-derecha{
    grid-area: derecha;
    background-color: rgb(24, 10, 39);
}
.infor-izquierda{
    grid-area: izquierda;
    background-color: rgb(153, 148, 51);
}
.footer{
    grid-area: footer;
    background-color: rgb(216, 197, 234);
}